/************ login.php **************/
body {
	background: url(../images/body-bg3.png);
}

/*** log-main部分 ***/
.log-main {
	margin: 0;
	padding: 0;
	/*background: url(../images/starry_sky.png) center no-repeat;*/
}

.log-main .container {
	margin: 100px auto;
	min-height: 360px;
} 

.log-main .login-window {
	/*width: 100%;*/
	/*height: 100%;*/
	min-width: 300px;
	min-height: 360px;
	background-color: #f5bcb7;
	box-shadow: 5px 5px 12px rgba(0,0,0,0.1);
	border-radius: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.login-window table {
	min-height: 300px;
	font-size: 15px;
	margin-right: 20px;
	/*margin: auto;*/
}

.login-window table span {
	font: normal bold 18px/1.5em "microsoft yahei";
	color: #337ab7;
}

.login-items {
	padding-left: 22px;
}

.login-items input {
	vertical-align: middle;
	margin: 0;
}

.login-items label,
.login-items a {
	font-size: 12px;
	font-weight: 200;
}

.login-items a {
	line-height: 2em;
}

.login-window .check_code {
	width: 100px!important;
}

.login-window table tr {
	height: 40px;
}


/***************t_index.html***************/
/*t-header*/
.header-login {
	height: 45px;
	line-height: 45px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	min-width: 1366px;
}

.header-login > .container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header-login .btn-primary {
	padding: 2px 5px;
}

.header-login label {
	margin: 0;
}

.theme_sel {
	vertical-align: middle;
	margin: 0!important;
}

.header-slider {
	margin-top: 45px;
}

.header-slider .container {
	width: 75%;
	min-width: 1000px;
	margin: 0;
	padding: 0;
}

.carousel-inner img {
	width: 100%;
}

.header-slider .container,
.header-slider .row,
.header-slider .row > div {
	margin: 0 auto;
	padding: 0;
}

#carousel-example-generic {
	position: relative;
}

.slider-window {
	height: 100%;
	width: 250px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	padding: 25px 15px;
	right: 110px;
	top: 0;
}

.slider-window > p {
	font-size: 15px;
	line-height: 24px;
}

/*t-main*/
.t-main {
	width: 75%;
	min-width: 1000px;
	margin: 20px auto;
	padding: 20px 0;
	background-color: #fff;
	min-height: 1000px;
	border-radius: 5px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.main-left {
	width:;
}

.header-login .form-control {
	/*height: 26px;*/
	width: 50%;
	max-width: 350px;
}

.header-login .col-md-offset-1 > .form-control {
	border-radius: 5px 0 0 5px;
}

.header-login .col-md-offset-1 > .btn-default {
	border-radius: 0 5px 5px 0;
	border-left: none;
}

.header-login .col-md-offset-1 {
	height: 45px;
	display: flex;
	align-items: center;
}

.header-login .col-md-offset-1 > h2 {
	line-height: 45px;
	margin: 0 20px 0 0;
	font-family: "STHUPO";
	color: rgb(98, 158, 187);
}

.header-login .col-md-3 {
	text-align: right;
}

.main-left {
	width: 100%;
}

.main-left-t {
	width: 100%;
	height: 360px;
}













