/************ login.php **************/
body {
	background: url(../images/body-bg3.jpg);
}

/*** log-main部分 ***/
.log-main {
	margin: 0;
	padding: 0;
	/*background: url(../images/starry_sky.png) center no-repeat;*/
}

.log-main .container {
	margin: 100px auto;
	min-height: 360px;
} 

.log-main .login-window {
	/*width: 100%;*/
	/*height: 100%;*/
	min-width: 300px;
	min-height: 360px;
	background-color: #f5bcb7;
	box-shadow: 5px 5px 12px rgba(0,0,0,0.1);
	border-radius: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.login-window table {
	min-height: 300px;
	font-size: 15px;
	margin-right: 20px;
	/*margin: auto;*/
}

.login-window table span {
	font: normal bold 18px/1.5em "microsoft yahei";
	color: #337ab7;
}

.login-items {
	padding-left: 22px;
}

.login-items input {
	vertical-align: middle;
	margin: 0;
}

.check_code_img {
	margin: 4px 0;
}

.login-items label,
.login-items a {
	font-size: 12px;
	font-weight: 200;
}

.login-items a {
	line-height: 2em;
}

.login-window .check_code {
	width: 110px!important;
}

.login-window table tr {
	height: 40px;
}


/***************t_index.html***************/
/*t-header*/
.header-login {
	height: 45px;
	line-height: 45px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	min-width: 1366px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.header-login > .container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header-login .btn-primary {
	padding: 2px 5px;
}

.header-login label {
	margin: 0;
}

.theme_sel {
	vertical-align: middle;
	margin: 0!important;
}

.header-slider {
	margin-top: 45px;
}

.header-slider .container {
	width: 75%;
	min-width: 1000px;
	margin: 0;
	padding: 0;
}

.carousel-inner img {
	width: 100%;
}

.header-slider .container,
.header-slider .row,
.header-slider .row > div {
	margin: 0 auto;
	padding: 0;
}

#carousel-example-generic {
	position: relative;
}

.slider-window {
	height: 100%;
	width: 250px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	padding: 25px 15px;
	right: 110px;
	top: 0;
}

.slider-window > p {
	font-size: 15px;
	line-height: 24px;
}

/*t-main*/
.t-main {
	width: 75%;
	min-width: 1000px;
	margin: 20px auto;
	padding: 20px 0;
	/*background-color: #fff;*/
	min-height: 1000px;
	/*border-radius: 5px;*/
	/*box-shadow: 2px 2px 6px rgba(0,0,0,0.2);*/
}

.main-left {
	width:;
}

.header-login .form-control {
	/*height: 26px;*/
	width: 50%;
	max-width: 350px;
}

.header-login .col-md-offset-1 > .form-control {
	border-radius: 5px 0 0 5px;
}

.header-login .col-md-offset-1 > .btn-default {
	border-radius: 0 5px 5px 0;
	border-left: none;
}

.header-login .col-md-offset-1 {
	height: 45px;
	display: flex;
	align-items: center;
}

.header-login .col-md-offset-1 > h2 {
	line-height: 45px;
	margin: 0 20px 0 0;
	font-family: "STHUPO";
	color: rgb(98, 158, 187);
}

.header-login .col-md-3 {
	text-align: right;
}

.main-left {
	width: 100%;
	background-color: #fff;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
	border-radius: 5px;
}

.main-left-t {
	width: 100%;
	height: 200px;
	padding-top: 15px;
	font-size: 15px;
	line-height: 1.8em;
	color: #1785b9;
	border-bottom: 4px solid #4caeba;
	border-top: 4px solid #4caeba;
}

.main-left-t > ul {
	list-style: none;
}

.main-left-t > ul > li > a:hover {
	text-decoration: none;
	font-weight: 600;
}

.main-left-t span {
	margin-right: 10px;
	font-size: 13px;
}

.main-left-b {
	font-size: 14px;
	color: #fff;
	background-color: #4caeba;
}

.main-left-b .userImg {
	margin: 10px;
	text-align: center;
}

.main-left-b .userImg > img {
	width: 50%;
	margin: 10px;
}

.main-left-b .glyphicon-star {
	color: #f98080;
	margin-left: 5px;
}

.panel-title > a {
	color: #095b62;
	text-decoration: none;
}

.panel-body {
	padding-left: 30px;
	background-color: #2b596c;
	border-radius: 0 0 4px 4px;
}

.panel-default {
	background-color: #4bacb8;
	border: none;
	width: 90%;
	margin: 0 auto;
}

.panel-heading {
	text-align: center;
}

.panel-group {
	padding-bottom: 5px;
}

.panel-body > a {
	width: 80%;
	border-bottom: 1px dashed #ccc;
	display: block;
	line-height: 30px;
	color: #fff;
}

.panel-body > a:hover {
	color: #cee;
	text-decoration: none;
}

.panel-title > a > span {
	margin-left: 15px;
	color: #2b596c;
}

.main-center {
	width: 100%;
	min-height: 600px;
	/* background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}

.main-right {
	width: 100%;
	min-height: 580px;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	border-radius: 0 0 5px 5px;
}

.main-right-t-title {
	height: 30px;
}

.main-right-t-content {
	height: 268px;
	padding: 5px 10px;
	border-bottom: 4px solid #4caeba;
}

.main-right-t-title > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-right-t-title > ul > li {
	width: 33.3%;
	height: 32px;
	color: #4bacb8;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 2px solid #4bacb8;
	cursor: pointer;
}

.main-right-t-title > ul > .active {
	background-color: #4bacb8;
	color: #fff;
}

.main-right-t-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-right-t-content ul > li {
	display: block;
    height: 49px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2px;
    padding: 3px 0;
}

.content-date {
	width: 40px;
	height: 40px;
}

.content-date > span {
	text-align: center;
	width: 100%;
	height: 50%;
	display: block;
	line-height: 20px;
}

#content-date-t {
	font-size: 15px;
	font-weight: 600;
	background-color: #f26f65;
	color: #eee;
}

#content-date-b {
	font-size: 12px;
	background-color: #ccc;
	color: #2b596c;
}

.content-item {
	font-size: 14px;
	margin-left: 15px;
	line-height: 40px;
}

.content-item > a {
	color: #2b596c;
}

.main-center-t {
	width: 100%;
	height: 210px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	padding: 5px 0;
	border: 1px solid #a6dae0;
}

.main-center-t .form-control {
	width: 90%;
	margin: 5px auto;
}

#blog-title {

}

#blog-content {
	display: block;
}

.blog-tools {
	line-height: 34px;
}

.blog-tools > ul {
	list-style: none;
	margin: 0;
}

.blog-tools > ul > li {
	width: 65px;
	font-size: 14px;
	color: #555;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
}

.blog-tools > ul > li:hover {
	transform: translateY(-5%);
	box-shadow: 1px 1px 5px  rgba(0,0,0,0.3) ;
	background-color: #f6f7fb;
}

.blog-tools > ul > li > span {
	margin-right: 6px;
	font-size: 14px;
}

#blog-type {
	margin: 0 20px 0 1px;
	color: #0d9e79;
}

.main-content-b {
	margin: 20px 0;
}

.blog-item {
	width: 100%;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
	min-height: 120px;
}

.blog-item-userimg {
	margin-right: 20px;
}

.blog-item-userimg > img {
	width: 50px;
	height: 50px;
}

.blog-item-text > .item-username {
	margin: 0;
	line-height: 1.8em;
	font-weight: 600;
}

.blog-item-text > .item-time {
	color: #999;
	letter-spacing: 1px;
}

.item-content {
	max-width: 500px;
	line-height: 1.8em;
	font-size: 14px;
}

.clear-fix {
	clear: both;
	display: block;
}

.item-media img {
 	border: 1px solid #ddd;
}

.image-size-1 {
	width: 100%;
}

.blog-tags-class {
	color: #ccc;
}

.blog-tags > span  {
	margin-right: 8px;
}

.blog-tags-class {
	color: #f24c29;
}

.blog-tags-item {
	color: #1fb7d7;
}

.blog-item-comment {
	list-style: none;
	margin: 0 auto;
	padding-top: 10px;
	width: 88%;
}

.blog-item-comment > li {
	width: 25%;
	text-align: center;
	font-size: 13px;
	color: #999;
	line-height: 2em
}

.blog-item-comment > li span {
	margin-right: 10px;
}

.blog-item-comment > li a {
	text-decoration: none;
	color: #93a4ae;
}

.blog-item-comment > li a:hover {
	color: #1389ef;
}







